<footer class="border-t mt-auto py-8">
    <div class="max-w-screen-xl mx-auto px-4 text-center">
        <p class="text-sm">&copy; {{ "now"|date('Y') }} EasyFit | Tous les droits sont réservés</p>
    </div>
</footer>