<footer class="bg-gray-900 text-white py-8">
    <div class="max-w-screen-2xl mx-auto px-4 text-center">
        <p class="text-sm">&copy; {{ "now"|date('Y') }} EasyFit | Tous les droits sont réservés</p>
        <p>
            <a href="{{ path('app_legal_notices') }}">Mentions légales</a>
            <span>-</span>
            <a href="{{ path('app_cgv') }}">CGV</a>
            <span>-</span>
            <a href="{{ path('app_contact') }}">Contact</a>
        </p>
    </div>
</footer>