{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}
{# Fil d'ariane #}
<div class="px-4 mb-4">
    <p><a href="{{ path('app_home') }}">Accueil</a></p>
</div>

<div class="text-2xl text-primary">
    Confirmation de votre commande
</div>
{% endblock %}
